<mat-progress-bar mode="query" *ngIf="loader"></mat-progress-bar>
<div class="container">
  <div>
    <h2>VAT Number Check</h2>
  </div>
  <form>
    <div>
      <mat-form-field>
        <input matInput placeholder="VAT Number" [(ngModel)]="vatNumber" name="vat-number">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="checkNumber()" [disabled]="loader">Check</button>
      <button mat-raised-button (click)="clear()" [disabled]="loader">Clear</button>
    </div>
  </form>

  <div *ngIf="showResult">
    <p>This VAT Number is <span class="status" [ngStyle]="{'color':statusColor}">{{vatStatus}}</span></p>
    <p>Country Code: {{result.CountryCode}}</p>
    <p>VAT Number: {{result.VATNumber}}</p>
    <p>Name: {{result.Name}}</p>
    <p>Address: {{result.Address}}</p>
  </div>

  
</div>

