.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.status {
  font-weight: bold;
}

button {
  margin-right: 10px;
}

mat-form-field {
  width: 300px;
}